COMBINED_TEST/align/rep1/scATAC.Combined_R1_Sequences.trim.PE2SE.bam
COMBINED_TEST/align/rep1/scATAC.Combined_R1_Sequences.trim.fastq.gz
align/rep1/scATAC.Combined_R1_Sequences.trim.fastq.gz
align/rep1/scATAC.Combined_R2_Sequences.trim.fastq.gz
align/rep1/scATAC.Combined_R1_Sequences.trim.PE2SE.bam
